

.wrap {
    margin: 20px 0 0 0;
    // border: 1px solid black;
    h3 {
        padding: 10px 0;
    }
}



.contentWrap, .loadingWrap {
    width: 100%;
}

.loadingWrap {
    // background-color: darkcyan;
    pointer-events: none;
    opacity: .3;
}