

.bigContainer {
    display: flex;
    justify-content: center;
    flex: 1;
    align-self: center;
}

.wrap, .bigWrap {
    display: flex;
    justify-content: space-between;
    transition: transform 200ms linear;
}

.bigWrap {
    transform: scale(1.4);
    align-items: center;
    width: 50%;
    align-items: stretch;
}

.errorBlock {
    position: absolute;
    top: 70px;
}

.btn {
    margin-left: 10px;
    transition: all 200ms linear;
    &:disabled {
        opacity: 0;
        transform: scale(0);
        min-width: 0;
        padding: 0;
        border: none;
        font-size: 0px;
    }
}


