

.wrap {
    // border: 2px solid red;
    display: flex;
    gap: 20px;
    
}

.leftCol {
    width: 38%;
    // border: 2px solid blueviolet;
}

.rightCol {
    // border: 2px solid pink;
    width: 62%;
}